@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 80%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .animate-pop {
    animation: pop 0.3s ease-out;
  }

  .animate-pulse-premium {
    animation: premium-pulse 2s infinite;
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes pop {
    0% {
      transform: scale(0.95);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes premium-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(245, 158, 11, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba(245, 158, 11, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(245, 158, 11, 0);
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}